.menu__list {
  display: flex;
  align-items: center;
}

.menu__list > li{
  position: relative;
  margin: 0 0 0 20px;
  padding: 10px 0;
}

.menu__link {
  color: #fff;
  font-size: var(--default-component-font-size);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
}

.menu__link .menu__link-image{
  padding-right: 5px;
  pointer-events: none;
  transition: all .5s 0s ease;
  transform-origin: center;
}

.menu__link .menu__link-text{
  padding-right: 5px;
  pointer-events: none;
  text-align: left;
  transition: all .5s 0s ease;
}

.menu__link.active{
  background-color: #2f2e41;
}

.menu__link.active:hover .menu__link-image{
  filter: invert(64%) sepia(44%) saturate(5060%) hue-rotate(30deg) brightness(150%) contrast(105%);
}

.menu__link.active:hover .menu__link-text{
  color: #FFF;
}

.menu__link:hover .menu__link-image{
  transform: rotate(-360deg) scale(.9);
  filter: invert(15%) sepia(22%) saturate(796%) hue-rotate(204deg) brightness(25%) contrast(89%);
}

.menu__link:hover .menu__link-text{
  color: #2f2e41;
  text-shadow: 0px 0px 1px #FFF;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: transparent;
  min-width: 200px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
  transform-origin: top;
  pointer-events: none;
  border-radius: 10px;
  font-size: 1.3rem;
  transform: perspective(1000px) rotateX(-90deg) translate(0,10%);
}

.menu__sub-list li {
  margin: 0 0 5px 0;
}

.menu__sub-list li:last-child {
  margin: 0;
  text-align: center;
}

.menu__sub-link {
  width: 100%;
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 10px;
  background:#2f2e41;
  border-bottom: 1px solid rgba(47, 46, 65,0.2);
  transition: all .5s ease;
  border-radius: 10px;
}

.menu__sub-link:hover {
  color: #FFF;
  box-shadow: 0 0 5px #FF8C00, 0 0 10px #FF8C00, 0 0 15px #FF8C00;
  background: rgb(var(--default-component-background-color));
}

._auth .menu__list > li{
  display: flex;
  align-items: center;
}

._auth .menu__link {
  flex: 0 1 auto;
}

._auth .menu__arrow{
  display: block;
  width: 0;
  height: 0;
  margin: 0 0 0 5px;
  border-top: 10px solid #fff;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: none;
  transition: transform 0.3s ease 0s;
}

.menu__list>li._active .menu__sub-list{
  opacity: 1;
  visibility: visible;
  transform: translate(0,0);
  pointer-events: all;
  transform: perspective(1000px) rotateX(0deg);
}

.menu__list>li._active .menu__arrow{
  transform: rotate(-180deg);
}

@media screen and (max-width: 960px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 46, 65, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left .3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background-color: rgb(var(--default-component-background-color));
    z-index: 2;
  }

  .menu__list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .menu__list > li{
    flex-wrap: wrap;
    margin: 0 0 30px 0;
  }

  .menu__list > li:last-child{
    margin-bottom: 0;
  }

  .menu__list > li._active .menu__sub-list{
    display: block;
  }

  .menu__link {
    font-size: 22px;
  }

  .menu__link.active,.menu__link:hover{
    background-color: rgb(var(--default-component-background-color));
  }
}
