.wrapper{
  position: relative;
  width: 100%;
  min-height: calc(100vh - 105px);
  background: url('../../../../assets/images/friends.svg');
  background-size: 550px;
  background-repeat: no-repeat;
  background-position: 100% 55%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wrapper .main {
  max-width: calc(320px + (600 - 320) * ((100vw - 320px) / (1200 - 320)));;
}

.wrapper .main .container .main__header{
  color: #2F2E41;
  font-size: calc(30px + (40 - 30) * ((100vw - 320px) / (1200 - 320)));
  font-weight: 600;
  text-align: center;
}

.wrapper .main .container .main__text{
  font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1200 - 320)));
  color: #2F2E41;
  font-weight: 500;
  margin: calc(10px + (20 - 10) * ((100vw - 320px) / (1200 - 320))) 0;
}

.wrapper .main .container .phone{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0  0 10px 0;
}

.wrapper .main .container .phone .phone__items-link{
  color: #2F2E41;
  font-size: calc(14px + (21 - 14) * ((100vw - 320px) / (1200 - 320)));
}

.wrapper .main .container .main__link{
  display: inline-block;
  padding: 10px 30px;
  font-weight: 500;
  letter-spacing: 2px;
}

.social{
  position: absolute;
  bottom: calc(10px + (30 - 10) * ((100vw - 320px) / (1200 - 320)));
  display: flex;
}

.social .social__items{
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li .social__items-link{
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

@media (max-width:1200px){
  .wrapper{
    background-size: calc(10px + (550 - 10) * ((100vw - 320px) / (1200 - 320)));
  }
}

@media (max-width:767px) {
  .wrapper{
  padding: 0px 10px 10px;
  background: url("../../../../assets/images/chilling.svg");
  background-size: 140px;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  justify-content: center;
}

.wrapper .main .container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper .main .container .phone{
  flex-direction: column;
  padding: 0 0 10px 0;
}

.wrapper .main .container .phone .phone__items{
  padding-bottom: 5px;
}
}
