<section class="wrapper">
  <div class="card">
    <div class="face front">
      <h3 class="debit">Universal Bank</h3>
      <h3 class="bank">world</h3>
      <img src="../../../../assets/images/chip.png" alt="" class="chip">
      <h3 class="number">4149 4978 7254 2578</h3>
      <h5 class="valid"><span>10/23</span></h5>
      <h5 class="cardHolder">Help Animals</h5>
    </div>
    <div class="face back">
      <div class="blackbar"></div>
      <div class="ccvtext">
        <h5>Autorized Signature/ ЗРАЗОК Пiдпису</h5>
        <div class="whiteBar"></div>
        <div class="ccv">036</div>
      </div>
      <p class="text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, quia! Perferendis iste cupiditate laboriosam possimus fuga quod eos repellendus quibusdam dolores quam, ipsum quo ut sed ab! Minima sunt in repudiandae architecto earum iure cumque quia facilis, corrupti eum nostrum natus autem voluptate vero assumenda quis, fugit optio perferendis! Quae.
      </p>
    </div>
  </div>
  <article class="content">
    <p class="content__text">
      Допоможіть тим, хто не в змозі піклуватись про себе самостійно.<br><br>
      Зробіть пожертву на користь тварин.<br><br>
      <strong>Також цінна допомога:</strong>
    </p>
    <ul class="list-container">
      <li class="list-item">волонтерство - допомога по догляду та утриманню котиків</li>
      <li class="list-item">сухий та вологий корм для дорослих котів та кошенят</li>
      <li class="list-item">медикаменти для тваринок</li>
      <li class="list-item">інформаційна допомога - розкажіть про нас друзям!</li>
    </ul>
  </article>
</section>
