<section class="wrapper">
  <div class="card">
    <div class="face front">
      <h3 class="debit">monobank | Universal Bank</h3>
      <h3 class="bank">world</h3>
      <img src="../../../../assets/images/chip.png" alt="" class="chip">
      <h3 class="number">0123 4567 8901 2345</h3>
      <h5 class="valid"><span>10/23</span></h5>
      <h5 class="cardHolder">Somebody important</h5>
    </div>
    <div class="face back">
      <div class="blackbar"></div>
      <div class="ccvtext">
        <h5>Autorized Signature/ ЗРАЗОК Пiдпису</h5>
        <div class="whiteBar"></div>
        <div class="ccv">123</div>
      </div>
      <p class="text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, quia! Perferendis iste cupiditate laboriosam possimus fuga quod eos repellendus quibusdam dolores quam, ipsum quo ut sed ab! Minima sunt in repudiandae architecto earum iure cumque quia facilis, corrupti eum nostrum natus autem voluptate vero assumenda quis, fugit optio perferendis! Quae.
      </p>
    </div>
  </div>
  <article class="content">
    <p class="content__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit quo, modi numquam deserunt necessitatibus iure dolores, laudantium dolorum eum asperiores minima dignissimos quae! Nesciunt molestiae aut ab iste. Ad, ipsum?
    Ad illo aliquid dicta delectus ut et impedit repudiandae ex, ullam tenetur est itaque veritatis architecto molestias eius facilis modi expedita consequatur sapiente odio? Explicabo expedita provident perferendis enim aliquam!
    Sint temporibus impedit repudiandae laboriosam dolores cumque voluptate nisi facilis! Aliquam minus ab placeat praesentium ex totam beatae maiores. Maxime labore cum ipsum nihil amet sit iste ex reprehenderit tenetur.
    Tenetur atque dolore accusamus commodi veritatis veniam laboriosam? Voluptatum impedit aut nesciunt corporis, illum facilis optio illo iusto enim molestiae. Beatae, odio provident exercitationem cupiditate ab libero illum ratione culpa.
    Eius ab, ea corrupti assumenda magnam in exercitationem tempore nobis maiores quo porro dolor similique maxime numquam delectus nihil sunt, aspernatur reprehenderit nisi iste! Obcaecati eos suscipit illum dicta nesciunt.
    Doloribus autem, repudiandae vero atque neque eos totam laudantium perferendis quisquam deserunt porro repellendus modi molestiae maxime. Minima, ad! Excepturi obcaecati dolorum fuga magnam? Soluta eligendi consectetur aliquam distinctio dolorem!
    Vitae eligendi neque eum, in quod perspiciatis officia! Maiores expedita ea voluptatum odio! Magni commodi impedit sed consectetur facere omnis architecto ipsa dicta? Voluptatibus quibusdam recusandae, ea dicta unde tempore?
    Natus, dicta labore. Ipsa temporibus accusamus sint error, repellat cum repudiandae voluptatibus officiis ut similique unde autem assumenda cupiditate aliquid architecto? Similique nisi eos, dolore odio hic ducimus molestias et.
    Libero neque ab dolor magnam, minus possimus pariatur dolorem similique impedit? Suscipit, consectetur vel. Sint corrupti dolorem numquam alias maxime, optio nobis tempore inventore sequi incidunt consequuntur, molestiae facilis repellat!
    Voluptates, illo animi ipsam exercitationem, repellendus dolorum reprehenderit eaque, reiciendis iusto fuga porro eveniet ea eius dolore repellat nesciunt! Possimus aliquam at quibusdam odio quo. Accusamus iste asperiores odit voluptas!</p>
  </article>
</section>
