<div class="admin-details">

  <form [formGroup]="form">
    <div *ngIf="form.value.id">
      <h4 class="caption">Перегляд (Редагування) тварини:</h4>
      <label class="label" for="id">Код:</label>
      <input class="input"
             id="id"
             formControlName="id"
             readonly="readonly"/>
    </div>

    <div *ngIf="!form.value.id">
      <h4 class="caption">Створення нової тварини:</h4>
    </div>

    <div class="admin-details-form-field-container">
      <label class="label" for="name">Ім'я:</label>
      <input class="input"
             id="name"
             formControlName="name"
             [readonly]="formReadonlyFieldCheck()"
             type="text"/>
    </div>

    <div class="admin-details-form-field-container">
      <label class="label" for="age">Вік:</label>
      <input class="input"
             id="age"
             formControlName="age"
             [readonly]="formReadonlyFieldCheck()"
             type="number"
             step="0.1"
             min="0.1"
             max="20"/>
      <p class="error-message" *ngIf="form.controls.age.invalid && showValidatorHelpers">Обов'язкове (0.1 - 20)</p>
    </div>

    <div class="admin-details-form-field-container">
      <label class="label" for="breed">Порода:</label>
      <input class="input"
             id="breed"
             formControlName="breed"
             [readonly]="formReadonlyFieldCheck()"
             type="text"/>
      <p class="error-message" *ngIf="form.controls.breed.invalid && showValidatorHelpers">Обов'язкове</p>
    </div>

    <div class="admin-details-form-field-container">
      <label class="label" for="sex">Стать:</label>
      <select class="input"
              id="sex"
              formControlName="sex"
      >
        <option
          *ngIf="form.value.sex !== AnimalSexTypes.notUse && form.value.sex !== AnimalSexTypes.male && form.value.sex !== AnimalSexTypes.female"
          value="{{form.value.sex}}"
          [selected]="form.value.sex !== AnimalSexTypes.notUse && form.value.sex !== AnimalSexTypes.male && form.value.sex !== AnimalSexTypes.female">
          {{form.value.sex}}
        </option>
        <option value="{{AnimalSexTypes.notUse}}"
                [selected]="form.value.sex === AnimalSexTypes.notUse">{{AnimalSexTypes.notUse}}</option>
        <option value="{{AnimalSexTypes.male}}"
                [selected]="form.value.sex === AnimalSexTypes.male">{{AnimalSexTypes.male}}</option>
        <option value="{{AnimalSexTypes.female}}"
                [selected]="form.value.sex === AnimalSexTypes.female">{{AnimalSexTypes.female}}</option>
      </select>
      <p class="error-message" *ngIf="form.controls.sex.invalid && showValidatorHelpers">Обов'язкове</p>
    </div>

    <div class="admin-details-form-field-container">
      <label class="label" for="color">Колір:</label>
      <input class="input"
             id="color"
             formControlName="color"
             [readonly]="formReadonlyFieldCheck()"
             type="text"/>
      <p class="error-message" *ngIf="form.controls.color.invalid && showValidatorHelpers">Обов'язкове</p>
    </div>

    <div class="admin-details-form-field-container">
      <label class="label" for="features">Особливості:</label>
      <textarea class="input input--multiline"
                id="features"
                formControlName="features"
                [readonly]="formReadonlyFieldCheck()"
                type="text"></textarea>
    </div>

    <div class="admin-details-form-field-container">
      <label class="label" for="responsiblePerson">Відповідальна персона:</label>
      <textarea class="input input--multiline"
                id="responsiblePerson"
                formControlName="responsiblePerson"
                [readonly]="formReadonlyFieldCheck()"
                type="text"></textarea>
      <p class="error-message" *ngIf="form.controls.responsiblePerson.invalid && showValidatorHelpers">Обов'язкове</p>
    </div>

    <div class="admin-details-form-field-container">
      <label class="label" for="imgUrl">Зображення:</label>
      <img src="{{imagePreview || adminAnimalDetails.imageUrl}}" width="100%" alt="Image preview...">
      <input class="input"
             id="imgUrl"
             type="file"
             (change)="addPhoto($event)"
             accept="image/png,image/jpeg"
             [readonly]="formReadonlyFieldCheck()"/>
    </div>

    <p class="label admin-details-form-field-container">Параметри тварини:</p>

    <section class="key-value-table-style">
      <label class="label" for="complexVaccination">Вакцинація комплексна:</label>
      <input class="input"
             id="complexVaccination"
             formControlName="complexVaccination"
             type="checkbox"/>

      <label class="label" for="rabiesVaccination">Вакцинація від сказу:</label>
      <input class="input"
             id="rabiesVaccination"
             formControlName="rabiesVaccination"
             type="checkbox"/>

      <label class="label" for="sterilization">Тварина стерилізована:</label>
      <input class="input"
             id="sterilization"
             formControlName="sterilization"
             type="checkbox"/>

      <label class="label" for="animalHasFamily">Тварина влаштована:</label>
      <input class="input"
             id="animalHasFamily"
             formControlName="animalHasFamily"
             type="checkbox"/>

      <label class="label" for="showInGallery">Відображати в галереї:</label>
      <input class="input"
             id="showInGallery"
             formControlName="showInGallery"
             type="checkbox"/>
    </section>
  </form>
  <div class="buttons-container">
    <button class="button admin-details-form-field-submit-button"
            type="button"
            *ngIf="showEditAnimalButton"
            (click)="submitEditAnimal()"
            [disabled]="!formWasChanged">Підтвердити зміни
    </button>
    <button class="button admin-details-form-field-submit-button"
            type="button"
            *ngIf="showCreateAnimalButton"
            (click)="submitAddAnimal()">Додати тварину
    </button>
    <button class="button admin-details-form-field-submit-button"
            type="button"
            *ngIf="showPrintButton"
            (click)="printAnimal()">Друкувати
    </button>
    <button class="button admin-details-form-field-submit-button"
            type="button"
            *ngIf="showRollbackButton"
            (click)="getAnimal(adminAnimalDetails.id)">Скасувати
    </button>
  </div>

  <div class="admin-details-form-field-container" *ngIf="adminAnimalDetails.updatedAt">
    <label class="label" for="dateLastEdit">Дата останнього редагування:</label>
    <input class="input" id="dateLastEdit" value="{{adminAnimalDetails.updatedAt}}"
           readonly="readonly"/>
  </div>

  <div class="admin-details-form-field-container" *ngIf="adminAnimalDetails.updatedAt">
    <label class="label" for="dateAdded">Тварина додавання тварини:</label>
    <input class="input" id="dateAdded" value="{{adminAnimalDetails.createdAt}}"
           readonly="readonly"/>
  </div>

  <div class="admin-details-form-field-container" *ngIf="adminAnimalDetails.editedById">
    <label class="label" for="editedBy">Останні зміни внесені користувачем:</label>
    <a [routerLink]="getRedirectToUserDetailsLink(adminAnimalDetails.editedById)" class="input"
       id="editedBy">{{adminAnimalDetails.editedByName}}</a>
  </div>
</div>
