<div class="animal-card-container" *ngIf="animalInfo">
  <div class="animal-card-image-container">
    <img class="animal-card-image" src="{{animalInfo.imgUrl}}" alt="PHOTO">
  </div>
  <div class="animal-card-main-field">Код тварини: {{animalInfo.id}}</div>
  <div class="animal-card-main-field">Порода: {{animalInfo.breed}}</div>
  <div class="animal-card-main-field">Стать: {{animalInfo.sex}}</div>
  <div class="animal-card-main-field">Масть: {{animalInfo.color}}</div>
  <div class="animal-card-secondary-field">Особливості: {{animalInfo.features}}</div>
</div>
