<div class="card" *ngIf="animalInfo">
  <div class="card__front" [ngClass]="{'active': active}">
    <figure class="picture__box">
      <img class="picture__box-image" src="{{animalInfo.imgUrl}}" alt="PHOTO" (load)="deleteSpinner()">
      <div class="picture__spinner" *ngIf="loadImages">
        <svg>
          <circle cx="70" cy="70" r="70"></circle>
        </svg>
      </div>
    </figure>
    <div class="card__button" #forward>
      <div class="arrow"></div>
      <div class="arrow"></div>
      <div class="arrow"></div>
    </div>
  </div>
  <div class="card__back" [ngClass]="{'active': !active}">
    <div class="card__button" #back>
      <div class="arrow"></div>
      <div class="arrow"></div>
      <div class="arrow"></div>
    </div>
    <ul class="list">
      <li><p>Код тварини:</p><p>{{animalInfo.id}}</p></li>
      <li><p>Порода:</p><p>{{animalInfo.breed}}</p></li>
      <li><p>Стать:</p><p>{{animalInfo.sex}}</p></li>
      <li><p>Масть:</p><p>{{animalInfo.color}}</p></li>
      <li><p class="list__features">Особливості:</p><p>{{animalInfo.features}}</p></li>
    </ul>
  </div>
</div>
