.login-root {
  margin: 50px auto;
  display: grid;
  width: 100%;
  max-width: 400px;
  grid-gap: 3px;
}

.new-line-padding {
  padding-top: 10px;
}

.max-width {
  width: 100%;
}

.container{
  position: relative;
}

.submit-button {
  min-width: 50%;
}

.icon {
  display: inline-block;
  position: absolute;
  top: 33px;
  right: 5px;
  pointer-events: auto;
  cursor: pointer;
}

.icon svg {
  pointer-events: none;
}

.icon svg use {
  pointer-events: none;
}

.messages{
  text-align: justify;
  margin-top: 20px;
  font-size: 20px;
}

.message-succes {
  color: green;
}

.message-error {
  color: red;
}
