<div class="login-root">
  <form action="" method="post" [formGroup]="resetPasswordForm" #form>
    <div class="container">
      <label class="label new-line-padding" for="password-input">Пароль:</label>
      <input id="password-input" type="password" class="input max-width" name="password" formControlName="password"  autocomplete="password" #password>
      <div class="icon" (click)="changeAppearance($event, password)" data-svg="view">
        <svg width="36" height="36">
          <use xlink:href="../../../../assets/images/sprire.svg#view"></use>
        </svg>
      </div>
      <div class="error-message" *ngIf="resetPasswordForm.controls['password'].invalid">Обов'язкове поле</div>
    </div>

    <div class="container">
      <label class="label new-line-padding" for="repeat-password-input">Пiдтвердiть пароль:</label>
      <input id="repeat-password-input" type="password" class="input max-width" name="repeat-password" formControlName="repeatPassword" autocomplete="repeat-password" #resetPassword>
      <div class="icon" (click)="changeAppearance($event, resetPassword)" data-svg="view">
        <svg width="36" height="36">
          <use xlink:href="../../../../assets/images/sprire.svg#view" ></use>
        </svg>
      </div>
      <div class="error-message" *ngIf="resetPasswordForm.controls['repeatPassword'].invalid">Обов'язкове поле</div>
    </div>
    <div class="new-line-padding">
      <button type="submit" class="button submit-button" [disabled]="!exactDataField() || (resetPasswordForm.controls['password'].invalid && resetPasswordForm.controls['repeatPassword'].invalid)">Змінити пароль</button>
    </div>
  </form>

  <div [ngSwitch]="message" class="messages">
    <p *ngSwitchCase="'success'" class="message-succes">Ваш пароль було успiшно змiненно, через декiлька секунд вас буде перенавпраленно на сторiнку для входу</p>
    <p *ngSwitchCase="'error'" class="message-error">На серверi вiдбулася помилка, звернiтся до адмiнiстратора</p>
    <p *ngSwitchDefault>Введiть пароль не меньш нiж 8 символiв а також його пiдтвердження та натиснiть "Змінити пароль"</p>
  </div>


  <div *ngIf="!exactDataField() && ((resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched) || (resetPasswordForm.controls['repeatPassword'].dirty || resetPasswordForm.controls['repeatPassword'].touched))" class="message-error">
    Паролi не спiвпадають, перевiрте вмiст!
  </div>

</div>
