<div class="login-root">
  <form #form>
    <label class="label new-line-padding" for="email">Адреса електронної пошти:</label>
    <input id="email" type="text" class="input max-width" name="email" [formControl]="emailControl">
    <div class="error-message" *ngIf="emailControl.invalid">Обов'язкове поле</div>

    <div class="new-line-padding">
      <button type="submit" class="button submit-button" [disabled]="emailControl.invalid">Отримати новий пароль</button>
    </div>

    <div [ngSwitch]="responseFromServer" class="messages">
      <p *ngSwitchCase="'success'" class="message-succes">На ваш E-mail вiдправленно лист з подальшими інструкціями для вiдновлення паролю</p>
      <p *ngSwitchCase="'error'" class="message-error">E-mail який ви ввели не знайденно в базi данных</p>
      <p *ngSwitchDefault>Введiть ваш  E-mail i натиснiть "Отримати новий пароль"</p>
    </div>

  </form>
