<div class="admin-animal-list-container">
  <div class="admin-animal-list-header">
    <button type="button" class="button filter-button" (click)="filter.changeShowFilter()"><img
      src="/assets/images/settings-icon.svg" alt="="></button>
    <button type="button" class="button" routerLink="{{getRedirectToAddLink()}}">Додати тваринку</button>
  </div>

  <section class="filter-section" [class.filter-hide]="!filter.showFilter">
    <div class="filter-section-param">
      <label class="label filter-section-param-key">Вік:</label>
      <label class="filter-section-param-value container-display-inline">
        <input class="input filter-param-input" [(ngModel)]="filter.ageMin" type="number"/>
        <span>-</span>
        <input class="input filter-param-input" [(ngModel)]="filter.ageMax" type="number"/>
      </label>
    </div>

    <div class="filter-section-param">
      <div class="label filter-section-param-key">Відповідальна персона:</div>
      <label class="label filter-section-param-value">
        <input class="input filter-param-input" [(ngModel)]="filter.responsiblePerson"/>
      </label>
    </div>

    <div class="filter-section-param">
      <div class="label filter-section-param-key">Особливості:</div>
      <label class="filter-section-param-value">
        <input class="input filter-param-input" [(ngModel)]="filter.features"/>
      </label>
    </div>

    <div class="filter-section-param">
      <div class="label filter-section-param-key">Стерилізація:</div>
      <div class="filter-section-param-value">
        <label class="label container-display-inline radio-select">
          <span>Не задано:</span>
          <input type="radio"
                 class="input filter-param-input"
                 name="sterilization"
                 [checked]="filter.sterilization === filter.getBooleanTypes().notUse"
                 (click)="filter.sterilization = filter.getBooleanTypes().notUse"/>
        </label>
        <label class="label container-display-inline radio-select">
          <span>Так:</span>
          <input type="radio"
                 class="input filter-param-input"
                 name="sterilization"
                 [checked]="filter.sterilization === filter.getBooleanTypes().true"
                 (click)="filter.sterilization = filter.getBooleanTypes().true"/>
        </label>

        <label class="label container-display-inline radio-select">
          <span>Ні:</span>
          <input type="radio"
                 class="input filter-param-input"
                 name="sterilization"
                 [checked]="filter.sterilization === filter.getBooleanTypes().false"
                 (click)="filter.sterilization = filter.getBooleanTypes().false"/>
        </label>
      </div>
    </div>
    <div class="filter-section-param">
      <div class="label filter-section-param-key">Вакцинація від сказу:</div>
      <div class="filter-section-param-value">
        <label class="label container-display-inline radio-select">
          <span>Не задано:</span>
          <input type="radio"
                 class="input filter-param-input"
                 name="rabiesVaccination"
                 [checked]="filter.rabiesVaccination === filter.getBooleanTypes().notUse"
                 (click)="filter.rabiesVaccination = filter.getBooleanTypes().notUse"/>
        </label>
        <label class="label container-display-inline radio-select">
          <span>Так:</span>
          <input type="radio"
                 class="input filter-param-input"
                 name="rabiesVaccination"
                 [checked]="filter.rabiesVaccination === filter.getBooleanTypes().true"
                 (click)="filter.rabiesVaccination = filter.getBooleanTypes().true"/>
        </label>

        <label class="label container-display-inline radio-select">
          <span>Ні:</span>
          <input type="radio"
                 class="input filter-param-input"
                 name="rabiesVaccination"
                 [checked]="filter.rabiesVaccination === filter.getBooleanTypes().false"
                 (click)="filter.rabiesVaccination = filter.getBooleanTypes().false"/>
        </label>
      </div>
    </div>
    <div class="filter-section-param">
      <div class="label filter-section-param-key">Вакцинація комплексна:</div>
      <div class="filter-section-param-value">
        <label class="label container-display-inline radio-select">
          <span>Не задано:</span>
          <input type="radio"
                 class="input filter-param-input"
                 name="complexVaccination"
                 [checked]="filter.complexVaccination === filter.getBooleanTypes().notUse"
                 (click)="filter.complexVaccination = filter.getBooleanTypes().notUse"/>
        </label>
        <label class="label container-display-inline radio-select">
          <span>Так:</span>
          <input type="radio"
                 class="input filter-param-input"
                 name="complexVaccination"
                 [checked]="filter.complexVaccination === filter.getBooleanTypes().true"
                 (click)="filter.complexVaccination = filter.getBooleanTypes().true"/>
        </label>

        <label class="label container-display-inline radio-select">
          <span>Ні:</span>
          <input type="radio"
                 class="input filter-param-input"
                 name="complexVaccination"
                 [checked]="filter.complexVaccination === filter.getBooleanTypes().false"
                 (click)="filter.complexVaccination = filter.getBooleanTypes().false"/>
        </label>
      </div>
    </div>
    <div class="filter-section-param">
      <div class="label filter-section-param-key">Тварина влаштована:</div>
      <div class="filter-section-param-value">
        <label class="label container-display-inline radio-select">
          <span>Не задано:</span>
          <input type="radio"
                 class="input filter-param-input"
                 name="animalHasFamily"
                 [checked]="filter.animalHasFamily === filter.getBooleanTypes().notUse"
                 (click)="filter.animalHasFamily = filter.getBooleanTypes().notUse"/>
        </label>
        <label class="label container-display-inline radio-select">
          <span>Так:</span>
          <input type="radio"
                 class="input filter-param-input"
                 name="animalHasFamily"
                 [checked]="filter.animalHasFamily === filter.getBooleanTypes().true"
                 (click)="filter.animalHasFamily = filter.getBooleanTypes().true"/>
        </label>

        <label class="label container-display-inline radio-select">
          <span>Ні:</span>
          <input type="radio"
                 class="input filter-param-input"
                 name="animalHasFamily"
                 [checked]="filter.animalHasFamily === filter.getBooleanTypes().false"
                 (click)="filter.animalHasFamily = filter.getBooleanTypes().false"/>
        </label>
      </div>
    </div>
    <div class="filter-buttons-container">
      <button class="button" (click)="getAnimals()">Застосувати</button>
      <button class="button" (click)="resetFilter()">Зкинути</button>
    </div>
  </section>

  <table class="table">
    <tr>
      <th>
        <span class="cursor--pointer"
              [class.selected]="sorting.column === sorting.getTypes().code"
              (click)="setSorting(sorting.getTypes().code)">Код</span>
        <span *ngIf="sorting.column===sorting.getTypes().code"
              (click)="changeSortingDirection()">
          <app-sorting [sortingDesc]="sorting.direction === sorting.getDirections().desc"></app-sorting>
        </span>
      </th>
      <th>
        <span class="cursor--pointer"
        [class.selected]="sorting.column === sorting.getTypes().responsiblePerson"
        (click)="setSorting(sorting.getTypes().responsiblePerson)">Відповідальна особа</span>
        <span *ngIf="sorting.column===sorting.getTypes().responsiblePerson"
              (click)="changeSortingDirection()">
          <app-sorting [sortingDesc]="sorting.direction === sorting.getDirections().desc"></app-sorting>
        </span>
      </th>
      <th>
        <span class="cursor--pointer"
              [class.selected]="sorting.column === sorting.getTypes().features"
              (click)="setSorting(sorting.getTypes().features)">Особливості</span>
        <span *ngIf="sorting.column===sorting.getTypes().features"
              (click)="changeSortingDirection()">
          <app-sorting [sortingDesc]="sorting.direction === sorting.getDirections().desc"></app-sorting>
        </span>
      </th>
      <th>
        <span class="cursor--pointer"
              [class.selected]="sorting.column === sorting.getTypes().age"
              (click)="setSorting(sorting.getTypes().age)">Вік</span>
        <span *ngIf="sorting.column===sorting.getTypes().age"
              (click)="changeSortingDirection()">
          <app-sorting [sortingDesc]="sorting.direction === sorting.getDirections().desc"></app-sorting>
        </span>
      </th>
      <th>
        <span class="cursor--pointer" [class.selected]="sorting.column === sorting.getTypes().sterilization"
              (click)="setSorting(sorting.getTypes().sterilization)">Стер</span>
        <span *ngIf="sorting.column===sorting.getTypes().sterilization"
              (click)="changeSortingDirection()">
          <app-sorting [sortingDesc]="sorting.direction === sorting.getDirections().desc"></app-sorting>
        </span>
      </th>
      <th>
        <span class="cursor--pointer"
              [class.selected]="sorting.column === sorting.getTypes().rabiesVaccination"
              (click)="setSorting(sorting.getTypes().rabiesVaccination)">Сказ</span>
        <span *ngIf="sorting.column===sorting.getTypes().rabiesVaccination"
              (click)="changeSortingDirection()">
          <app-sorting [sortingDesc]="sorting.direction === sorting.getDirections().desc"></app-sorting>
        </span></th>
      <th>
        <span class="cursor--pointer"
              [class.selected]="sorting.column === sorting.getTypes().complexVaccination"
              (click)="setSorting(sorting.getTypes().complexVaccination)">Комп</span>
        <span *ngIf="sorting.column===sorting.getTypes().complexVaccination"
              (click)="changeSortingDirection()">
          <app-sorting [sortingDesc]="sorting.direction === sorting.getDirections().desc"></app-sorting>
        </span></th>
      <th>
        <span class="cursor--pointer"
              [class.selected]="sorting.column === sorting.getTypes().animalHasFamily"
              (click)="setSorting(sorting.getTypes().animalHasFamily)">Влаш</span>
        <span *ngIf="sorting.column===sorting.getTypes().animalHasFamily"
              (click)="changeSortingDirection()">
          <app-sorting [sortingDesc]="sorting.direction === sorting.getDirections().desc"></app-sorting>
        </span>
      </th>
      <th></th>
    </tr>

    <tr *ngFor="let animal of animalList">
      <td class="text-align--center">{{animal.id}}</td>
      <td>{{animal.responsiblePerson}}</td>
      <td>{{animal.features}}</td>
      <td class="text-align--center">{{animal.age}}</td>
      <td class="text-align--center">{{animal.sterilization ? '&#10004;' : '&#10008;'}}</td>
      <td class="text-align--center">{{animal.rabiesVaccination ? '&#10004;' : '&#10008;'}}</td>
      <td class="text-align--center">{{animal.complexVaccination ? '&#10004;' : '&#10008;'}}</td>
      <td class="text-align--center">{{animal.animalHasFamily ? '&#10004;' : '&#10008;'}}</td>
      <td class="text-align--center">
        <a class="admin-animal-list-redirect-edit-animal" routerLink="{{getRedirectToAnimalDetailsLink(animal.id)}}">&#9997;</a>
      </td>
    </tr>
  </table>

  <app-pagination [pagination]="pagination"></app-pagination>
</div>
