<div class="admin-animal-list-container">
  <div class="admin-animal-list-header">
    <button type="button" class="button" routerLink="{{getRedirectToAddLink()}}">Додати тваринку</button>
  </div>

  <table class="table">
    <tr>
      <th><span>Код</span></th>
      <th><span>Відповідальна особа</span></th>
      <th>
        <span class="cursor--pointer"
              [class.selected]="sorting.column === sorting.getTypes().age"
              (click)="setSorting(sorting.getTypes().age)">Вік</span>
        <span *ngIf="sorting.column===sorting.getTypes().age"
              (click)="changeSortingDirection()">
          <app-sorting [sortingDesc]="sorting.direction === sorting.getDirections().desc"></app-sorting>
        </span>
      </th>
      <th>
        <span class="cursor--pointer" [class.selected]="sorting.column === sorting.getTypes().sterilization"
              (click)="setSorting(sorting.getTypes().sterilization)">Стер</span>
        <span *ngIf="sorting.column===sorting.getTypes().sterilization"
              (click)="changeSortingDirection()">
          <app-sorting [sortingDesc]="sorting.direction === sorting.getDirections().desc"></app-sorting>
        </span>
      </th>
      <th>
        <span class="cursor--pointer"
              [class.selected]="sorting.column === sorting.getTypes().rabiesVaccination"
              (click)="setSorting(sorting.getTypes().rabiesVaccination)">Сказ</span>
        <span *ngIf="sorting.column===sorting.getTypes().rabiesVaccination"
              (click)="changeSortingDirection()">
          <app-sorting [sortingDesc]="sorting.direction === sorting.getDirections().desc"></app-sorting>
        </span></th>
      <th>
        <span class="cursor--pointer"
              [class.selected]="sorting.column === sorting.getTypes().complexVaccination"
              (click)="setSorting(sorting.getTypes().complexVaccination)">Комп</span>
        <span *ngIf="sorting.column===sorting.getTypes().complexVaccination"
              (click)="changeSortingDirection()">
          <app-sorting [sortingDesc]="sorting.direction === sorting.getDirections().desc"></app-sorting>
        </span></th>
      <th>
        <span class="cursor--pointer"
              [class.selected]="sorting.column === sorting.getTypes().animalHasFamily"
              (click)="setSorting(sorting.getTypes().animalHasFamily)">Влаш</span>
        <span *ngIf="sorting.column===sorting.getTypes().animalHasFamily"
              (click)="changeSortingDirection()">
          <app-sorting [sortingDesc]="sorting.direction === sorting.getDirections().desc"></app-sorting>
        </span>
      </th>
      <th></th>
    </tr>

    <tr *ngFor="let animal of animalList">
      <td class="text-align--center">{{animal.id}}</td>
      <td>{{animal.responsiblePerson}}</td>
      <td class="text-align--center">{{animal.age}}</td>
      <td class="text-align--center">{{animal.sterilization ? '&#10004;' : '&#10008;'}}</td>
      <td class="text-align--center">{{animal.rabiesVaccination ? '&#10004;' : '&#10008;'}}</td>
      <td class="text-align--center">{{animal.complexVaccination ? '&#10004;' : '&#10008;'}}</td>
      <td class="text-align--center">{{animal.animalHasFamily ? '&#10004;' : '&#10008;'}}</td>
      <td class="text-align--center">
        <a class="admin-animal-list-redirect-edit-animal" routerLink="{{getRedirectToAnimalDetailsLink(animal.id)}}">&#9997;</a>
      </td>
    </tr>
  </table>

  <app-pagination [pagination]="pagination"></app-pagination>
</div>
