<div class="admin-animal-list-container">
  <div class="admin-animal-list-header">
    <button type="button" class="button" routerLink="{{getRedirectToAddLink()}}">Додати тваринку</button>
  </div>

  <table class="table">
    <tr>
      <th>Код</th>
      <th>Відповідальна особа</th>
      <th>Вік</th>
      <th>Стер</th>
      <th>Сказ</th>
      <th>Комп</th>
      <th>Влаш</th>
      <th></th>
    </tr>

    <tr *ngFor="let animal of animalList">
      <td class="text-align--center">{{animal.id}}</td>
      <td>{{animal.responsiblePerson}}</td>
      <td class="text-align--center">{{animal.age}}</td>
      <td class="text-align--center">{{animal.sterilization ? '&#10004;' : '&#10008;'}}</td>
      <td class="text-align--center">{{animal.rabiesVaccination ? '&#10004;' : '&#10008;'}}</td>
      <td class="text-align--center">{{animal.complexVaccination ? '&#10004;' : '&#10008;'}}</td>
      <td class="text-align--center">{{animal.animalHasFamily ? '&#10004;' : '&#10008;'}}</td>
      <td class="text-align--center">
        <a class="admin-animal-list-redirect-edit-animal" routerLink="{{getRedirectToAnimalDetailsLink(animal.id)}}">&#9997;</a>
      </td>
    </tr>
  </table>

  <app-pagination [pagination]="pagination"></app-pagination>
</div>
