<section class="about">
  <div class="about__header">
    <h2>Про нас</h2>
  </div>
  <div class="about__content">
    <div class="about__image-box">
      <div class="about__image-background">
        <video src="../../../../assets/video/video.mp4" muted loop autoplay></video>
      </div>
      <div class="overlay"></div>
    </div>
    <div class="about__content-box">
      <h3>Благодійний проект<br>“Help Animals”</h3>
      <p>
        “Help Animals” - це заклик, яким хочеться розбудити в людях співчуття до наших менших братів,
        до тих, хто не може сам себе нагодувати, оплатити своє лікування і подбати про своє життя. А також породити
        бажання боротися за те, щоб тварини, яких називають домашніми, не гинули на вулиці від холоду, не страждали від
        хвороб, не перетворювалися на калік від коліс машин і психічно хворих «людей». Життя - найдорожче, що нам дано,
        і ніхто не має права її відняти, навіть у бездомної кішки!
      </p>
    </div>
  </div>

</section>
